 /*.UserInfo {
        background-color: burlywood;
        padding: 5px;
    }

    .Claims {
        background-color: blanchedalmond;
        padding: 5px;
    }

    .ClienteleLogo {
        background-image: url('http://www.clientelelifeinsurance.co.za/images/clientele_logo.gif');
        background-repeat: no-repeat;
        background-size: auto;
        font-size: 20px;
        height: 100px;
        font-weight: bold;
        line-height: 100px;
        text-align: center;
        box-shadow: 0px 5px 6px #ccc;
    }

    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%;
        min-height: 400px;
        background-color: rgb(212,212,212);
    }*/