<h2>Api View</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Api System</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#/apiview/policyquery">Policy Query</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/policycomments">Policy Comments</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/workflowservices">Workflow Services</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/accountinghistory">Accounting History</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/riders">Riders</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/policyindividuals">Policy Individuals</a></td>
        </tr>
        <tr>
            <td><a href="#/apiview/PolicyStatusHistory">Policy Status History</a></td>
        </tr>
    </tbody>
</table>

