<h1>Policy Comments</h1>
<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Get Policy Comments
        </div>
        <div class="panel-body">
            <div ng-controller="getPolicyCommentsController">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="policyNumber" class="col-md-2 control-label">Get Comments</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="policyNumber" ng-model="policyNumber" placeholder="Policy Number">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" id="searchForComments" ng-click="getPolicyComments()">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Create Policy Comment
        </div>
        <div class="panel-body">
            <policy-comment-create error-occured-event="'apiViewCreateCommentError'"></policy-comment-create>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Results
        </div>
        <div class="panel-body">
            <policy-comments load-event="'policyCommentsRequested'" policy-number="policyNumber"></policy-comments>
        </div>
    </div>
</div>
