<form class="form-horizontal" name="genericInputModal" novalidate role="form">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h3 class="modal-title"><span>{{header}}</span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span>{{label}}</span></label>
                <div class="col-sm-10" ng-class="{'has-error': genericInputModal.inputValue.$invalid}">
                    <input type="text" name="inputValue" ng-required="true" class="form-control input-sm" ng-model="model.InputValue" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" ng-disabled="genericInputModal.$invalid" ng-click="ok()">&nbsp;OK</a>
        <a class="btn btn-warming" ng-click="cancel()">&nbsp;Cancel</a>
    </div>
</form>
