<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3 class="modal-title"><span>Task Ownership History</span></h3>
</div>
<div class="modal-body" style="height:500px">
    <div style="height:100%;overflow: scroll">

        <form class="form-horizontal" role="form">
            <table class="table table-condensed">
                <thead>
                    <tr class="active text-muted">
                        <th>Owner Name</th>
                        <th>Owner Role</th>
                        <th>Ownership Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model.Data  | orderBy: '-Created'">
                        <td><span>{{item.OwnerName}}</span></td>
                        <td><span>{{item.OwnerRole}}</span></td>
                        <td><span>{{item.Created}}</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-warning" ng-click="cancel()">&nbsp;Cancel</a>
</div>
