<form class="form-horizontal" name="commentForm" novalidate role="form">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h3 class="modal-title"><span>{{header}}</span></h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label"><span>{{label}}</span></label>
            <div class="col-sm-10" ng-class="{'has-error': commentForm.comment.$invalid}">
                <textarea ng-required="true" class="form-control" msd-elastic="\n" ng-model="model.comment" name="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" ng-disabled="commentForm.$invalid" ng-click="ok()">&nbsp;OK</a>
        <a class="btn btn-warning" ng-click="cancel()">&nbsp;Cancel</a>
    </div>
</form>
