<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3 class="modal-title"><span>Task Status History</span></h3>
</div>
<div class="modal-body" style="height:500px">
    <div style="height:100%;overflow: scroll">

        <form class="form-horizontal" role="form">
            <table class="table table-condensed">
                <thead>
                    <tr class="active text-muted">
                        <th>Action</th>
                        <th>User</th>
                        <th>User Role</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Reason</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model.Data | orderBy: '-Created'">
                        <td><small>{{item.Action}}</small></td>
                        <td><small>{{item.ActionedBy}}</small></td>
                        <td><small>{{item.ActionedByRole}}</small></td>
                        <td><small>{{item.Status}}</small></td>
                        <td><small>{{item.Created}}</small></td>
                        <td><small>{{item.Reason}}</small></td>
                        <td><small>{{item.Comment}}</small></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-warning" ng-click="cancel()">&nbsp;Cancel</a>
</div>
