<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3 class="modal-title"><span>{{model.Header}}</span></h3>
</div>

<div class="modal-body" style="height:500px">
    <div style="height:100%;overflow: scroll">

        <form class="form-horizontal" role="form">
            <div class="alert alert-info" ng-show="model.Comments.Data == 'null' || model.Comments.Data == 0">No Comments</div>

            <accordion close-others="true">

                <accordion-group style="cursor: pointer" ng-repeat="item in model.Comments.Data" is-open="$first">
                    <accordion-heading>
                        {{item.Commentor}} - {{item.Created | date : 'dd MMMM yyyy hh:mm a'}}
                    </accordion-heading>
                    <div class="row">
                        <span class="text-info glyphicon glyphicon-user"></span>
                        <strong class="text-info">{{item.Commentor}}</strong>
                        <small class="text-muted"> - {{item.Created | date : 'dd MMMM yyyy hh:mm a'}}</small>
                    </div>
                    <div class="row">
                        <small class="text-info" ng-if="item.Action.length > 0">&nbsp;&nbsp;&nbsp;{{item.Action}}</small>
                    </div>
                    <div class="row">
                        <small class="text-info" ng-if="item.Reason.length > 0">&nbsp;&nbsp;&nbsp;{{item.Reason}}</small>
                    </div>
                    <div class="row">
                        <blockquote>
                            <p class="small">{{item.Comment}}</p>
                        </blockquote>
                    </div>
                </accordion-group>
            </accordion>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-warning" ng-click="cancel()">&nbsp;Cancel</a>
</div>



