@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-red, 800);
$accent:  md-palette($md-orange, 600, A100, A400);
$warn:    md-palette($md-orange, 600);
$theme: md-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);