.iui-treeview
{
    height: calc(100vh - 50px);
}

.ui-tree {
    width: 250px;
    height: calc(100vh - 50px);
    font-size: small;
}

.iui-treeitem-content
{
    margin: 1px 0 !important;
    padding: 5px !important;
}
.computer-icons
{
    /*background: blue;*/
    background-image: url("./app/integralui/resources/computer.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 2px 0 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.empty
{
    background-position: 0px 0px;
}
.folder
{
    background-position: -24px 0px;
}
.downloads
{
    background-position: -48px 0px;
}
.favorites
{
    background-position: -72px 0px;
}
.documents
{
    background-position: -96px 0px;
}
.pc
{
    background-position: -120px 0px;
}
.videos
{
    background-position: -144px 0px;
}
.music
{
    background-position: -168px 0px;
}
.network
{
    background-position: -192px 0px !important;
}
.recycle
{
    background-position: -216px 0px !important;
}
.pictures
{
    background-position: -240px 0px;
}
.empty-doc
{
    background-position: -264px 0px !important;
}
.disk
{
    background-position: -288px 0px !important;
}
.toolbar
{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 7px;
    padding-left: 5px;
}
.item-button
{
    background-image: url(./app/integralui/resources/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 1px 4px 0 4px;
    width: 16px;
    height: 16px;
    float: right;
    opacity: 0.5;
}
.item-button:hover
{
    opacity: 1;
}
.item-button-edit
{
    background-position: -128px -81px;
}
.item-content
{
    background: red;
    display: inline-block;
}
.iui-treeitem-expand-box
{
    margin-top: 4px !important;
}