<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="elmah-sql" connectionString="Data Source=CG-T-SQL-03V;Initial Catalog=CG_T_DB_SVCERR;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
  <add name="myConnectionString" connectionString="server=softidoc.database.windows.net;database=SoftiDoc;uid=SoftiDoc;password=Tyro123#;" />
 </connectionStrings>