<div>
    <h3>Activity history</h3>
 <div loading-widget is-include="true">
    
    <div id="ActivityHistoryResultContainer" ng-show="!loading">

        <div style="height: 600px; overflow: scroll;">
            <table class="table table-striped table-bordered table-condensed" style="width: 99%;">
                <tr>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    <tr ng-repeat="historyResult in activityHistoryResults">
                        <td>{{historyResult.DateAdded| date:'yyyy-MM-dd H:mm a'}}</td>
                        <td>{{historyResult.Description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>

