<h2>Record Store Advanced Search</h2>
<div class="container-fluid">
    <div loading-widget ng-hide="showResults && Records.length > 0">
        <form name="recordStoreAdvancedSearchForm">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        Search filters

                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">

                            <label class="col-md-6 control-label">Source</label>
                            <div class="col-md-6">
                                <div dropdown dropdown-model="sourceDropdown"></div>
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>
                            <label class="col-md-6 control-label">Consuming System</label>
                            <div class="col-md-6">
                                 <div dropdown dropdown-model="consumingSystemDropdown"></div>
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>
                            <label class="col-md-6 control-label">Earliest creation date</label>
                            <div class="col-md-6">
                                <p class="input-group ">
                                    <input type="text" class="form-control" init-date="initDate" datepicker-popup="{{format}}" max-date="maxDate" ng-model="startDate" is-open="startDateOpened" datepicker-options="dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                            </div>

                            <label class="col-md-6 ">Latest creation date</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-enabled="false" init-date="initDate" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" datepicker-options="dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-6 control-label">Minimum file size (KB)</label>
                            <div class="col-md-6">
                                <input type="text" min="0" step="1" value="1024" numbers-only class="form-control" ng-model="minimumFileSize">
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>
                            <label class="col-md-6 control-label">Maximum file size (KB)</label>
                            <div class="col-md-6">
                                <input type="text" min="0" step="1" value="1024" numbers-only class="form-control" name="points" ng-model="maximumFileSize">
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>
                            <label class="col-md-6 control-label">Minimum number of pages</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Text4" numbers-only ng-model="minimumPages">
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>
                            <label class="col-md-6 control-label">Maximum number of pages</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Text5" numbers-only ng-model="maximumPages">
                            </div>
                            <div class="col-md-12" style="height: 10px;">&nbsp</div>

                        </div>

                        <div class="col-md-6">
                            <label class="col-md-6 control-label">Criteria matching preference</label>
                            <div class="col-md-6">
                                  <div dropdown dropdown-model="criteriaDropdown"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-12" style="height: 10px;">&nbsp;</div>
                        <div class="col-md-12" align="">
                            <table class="table table-condensed table-bordered table-striped table-responsive ">
                                <tr>
                                    <th class="col-md-4">Keyword</th>
                                    <th class="col-md-2">Equals</th>

                                    <th class="col-md-4">Value</th>
                                    <th class="col-md-2"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="KeyWord" ng-model="newMetaDataKeyWord"></td>
                                    <td>
                                         <div dropdown dropdown-model="allMetaDataComparisons"></div>
                      
                                        <td>
                                            <input type="text" class="form-control" placeholder="Value" ng-model="newMetaDataValue"></td>

                                    <td>
                                        <button class="btn btn-sm btn-primary" ng-click="addMetaDataSearchCriteria()">Add keyword</button></td>
                                </tr>
                                <tr ng-repeat="keyWordComparison in keyWordComparisons">
                                    <td>{{keyWordComparison.Key }}</td>
                                    <td>{{keyWordComparison.Matches == true ? "Equals" : "Does not equal"}}</td>
                                    <td>{{keyWordComparison.Value}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" ng-click="removeMetaData($index)">Remove</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="checkbox">
                                            <label class="pull-right">
                                                <input type="checkbox" class="checkbox checkbox-inline" ng-model="allMetaDataComparisonsMatch" ng-checked="allMetaDataComparisonsMatch">
                                                Match all keyword checks
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12 pull-right">
                            <button type="submit" class="btn btn-primary pull-right" ng-click="search()">Search</button>
                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>
    <div ng-controller="recordAdvancedSearchResultsController" ng-show="showResults">

        <div ng-show="Records.length == 0">
            <h2>{{ResultCountMessage}}</h2>
        </div>
        <div loading-widget ng-hide="Records.length == 0">
            <div>
                <button class="btn btn-primary" ng-click="showSearch()">Search again</button><br />
                <br />
            </div>
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Search Results
                </div>
                <div ng-include="'/views/RecordStore/Template/RecordList.html'"></div>
            </div>
        </div>
    </div>
</div>
