<h3>Meta data</h3>

 <div loading-widget is-include="true">
    <div style="height: 600px; overflow: scroll;">
        <table class="table table-striped table-bordered table-condensed" style="width: 99%;">
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th style="width: 20px;" ng-show="canEdit"></th>
            </tr>
            <tr ng-show="canEdit">
                <td width="250"><a href="#" onbeforesave="checkDuplicate($data)" class="isEditable" editable-text="newKeyValuePair.NewMetaDataKey">{{newKeyValuePair.NewMetaDataKey || "empty"}}</a></td>
                <td><a href="#" class="isEditable" editable-text="newKeyValuePair.NewMetaDataValue">{{newKeyValuePair.NewMetaDataValue || "empty"}}</a></td>
                <td width="5%">
                    <a tooltip="Add the metadata" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="addMetaData();"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered table-condensed" style="width: 99%;">
            <tbody>
                <tr ng-repeat="metaDataResult in metaDataResults" ng-controller="metaDataItemController">
                    <td width="250">
                        <a href="#" ng-show="canEdit" onbeforesave="changeMetaDataKey($data)" editable-text="metaDataResult.KeyField">{{ metaDataResult.KeyField || "empty"}}</a>
                        <span ng-show="!canEdit">{{ metaDataResult.KeyField}}</span>
                    </td>
                    <td>
                        <a href="#" ng-show="canEdit" onaftersave="changeMetaDataValue()" editable-text="metaDataResult.Value">{{ metaDataResult.Value || "empty" }}</a>
                        <span ng-show="!canEdit">{{ metaDataResult.Value}}</span>
                    </td>
                    <td ng-show="canEdit" width="5%">
                        <a ng-hide="role.IsDefault" tooltip="Delete the metadata" ng-click="deleteMetaData(metaDataResult)" class="pull-right btn btn-danger btn-xs" data-nodrag><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
