<div loading-widget is-include="true">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>

            <tbody>
                <tr ng-repeat="record in Records">
                    <td>{{record.FileName}}</td>
                    <td>
                        <span ng-if="isPdf(record.FileName)">
                          <a target="_blank" href="#/RecordStore{{record.ViewUrl}}">View</a>
                        </span>
                    </td>
                    <td><a ng-click="GetFile()">Download</a></td>
                </tr>
               
            </tbody>
        </table>
        <form method="GET" id="downloadForm" name="downloadForm"></form>
</div>
