<h2>You are currently not logged in.</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ng-hide="showForm()">
            <button ng-hide="showManualLogin" class="btn btn-primary pull-left" ng-click="LogInWithDomainAccount()">Click here to Log in with domain account</button><br />
            <div class="col-md-4"></div>
            <table class="table-striped table-bordered table-condensed col-md-4" ng-show="showManualLogin">
                <tr>
                    <td colspan="2">
                        <a ng-click="LogInWithDomainAccount()" class=" btn-link">Click here to Log in with domain account</a>
                        <div ng-hide="isRegistering">alternatively, if you have a different account to log in with, please fill in your username and password below:</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <input type="text" ng-model="username" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" ng-model="password" class="form-control" />
                    </td>
                </tr>
                <tr ng-show="isRegistering">
                    <td>
                        Given Name
                    </td>
                    <td>
                        <input type="text" ng-model="givenName" class="form-control" />
                    </td>
                </tr>
                <tr ng-show="isRegistering">
                    <td>
                        Surname
                    </td>
                    <td>
                        <input type="text" ng-model="surname" class="form-control" />
                    </td>
                </tr>
                <tr ng-show="isRegistering">
                    <td>
                        Email Address
                    </td>
                    <td>
                        <input type="email" ng-model="emailAddress" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div ng-show="showRegisterFormBasedOnApplicationMode"><a class="pull-left btn-link" ng-hide="isRegistering" ng-click="ShowRegister()">Register</a></div>
                        <a class="pull-left btn-link" ng-show="isRegistering" ng-click="CancelRegister()">Cancel</a>

                        <button class="pull-right btn btn-primary" ng-hide="isRegistering" ng-click="LogInWithCredentials()">Log in</button>&nbsp;&nbsp;

                        <button class="pull-right btn btn-primary" ng-show="isRegistering" ng-click="RegisterWithCredentials()">Register</button>
                    </td>
                </tr>
            </table>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div ng-show="loggingIn">
        We are attempting to log you in...<br />
        <img src="/Content/ajax-loader.gif" />
    </div>
    <div ng-show="registering">
        We are attempting to register you...<br />
        <img src="/Content/ajax-loader.gif" />
    </div>
</div>
 