
<div class="navbar navbar-left navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-link" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only btn btn-primary">Toggle navigation</span>
                <span class="icon-bar navbar-inverse"></span>
                <span class="icon-bar navbar-inverse"></span>
                <span class="icon-bar navbar-inverse"></span>
            </button>
        </div>
        <div ng-cloak class="navbar-collapse collapse">
            <ul class="navbar-nav nav navbar" style="width: 100%;">
                <li>
                    <img src="../../Content/images/SmallLogo.png" /></li>
                <!--<li><a ng-show="loggedIn" class="navbar-brand" href="#/">Clientèle UNITY</a></li>-->
                <li ng-cloak ng-repeat-start="navItem in navItems"></li>
                <li ng-if="navItem.childNavItems !== undefined">
                    <a ng-href="{{navItem.url}}" class="dropdown-toggle">{{navItem.label}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="sub_element in $parent.navItem.childNavItems">
                            <a ng-href="{{sub_element.url}}">{{sub_element.label}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="navItem.childNavItems === undefined">
                    <a ng-class="{ activeNav: isActive(navItem.url)}" ng-href="{{navItem.url}}">{{navItem.label}}</a>
                </li>
                <li ng-repeat-end></li>

                <li ng-show="loggedIn"><a ng-click="Logout()">Logout</a></li>
                <li ng-show="canSearch" class="nav navbar-right">
                    <form class="navbar-form navbar-right" ng-cloak ng-show="loggedIn">
                        <input ng-show="canSearch" type="text" class="form-control" ng-model="searchText.text" placeholder="Search...">
                        <button ng-show="canSearch" ng-click="search()" class="btn btn-primary">Go</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>




    
