
<ul class="nav nav-sidebar" style="margin: 0px;padding:0px;">
    <li ng-show="iconSource != ''" style="text-align: center">
        <!-- Icon for the current application -->
        <img width="80" height="80" src="{{iconSource}}" />
    </li>
    <!-- Navigation for applications in the system -->
    <li style="margin: 10px;" ng-show="applications.length > 10"><input class="form-control" ng-model="search" /></li>
    <li ng-repeat="application in applications | filter:search" class="btn-sm">
        <div class="btn-link btn-default" ng-click="ChangeUrl(application);">{{application.applicationName}}</div>
    </li>
</ul>
