html, body {
    height: 100%;
}

/* Style when highlighting a search. */
.ui-select-highlight {
    font-weight: bold;
}

.easy-modal-window .modal-dialog {
    width: 70%;
}

.easy-modal-window-large .modal-dialog {
    width: 90%;
}

/* Select2 theme */


/* Selectize theme */

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
    width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
    width: 100%;
}


/* Bootstrap theme */

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
    /* Instead of relative */
    position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-select-bootstrap > .ui-select-match {
    /* Instead of center because of .btn */
    text-align: left;
}

    .ui-select-bootstrap > .ui-select-match > .caret {
        position: absolute;
        top: 45%;
        right: 15px;
    }

.ui-select-bootstrap > .ui-select-choices {
    width: 100%;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.PanelOpen {
    position: absolute;
    left: 0;
    top: 90px;
    background: #efefef;
    width: 250px;
    overflow: hidden;
    -webkit-transition: 0.3s linear all; /* Safari/Chrome */
    -moz-transition: 0.3s linear all; /* Firefox */
    -ms-transition: 0.3s linear all; /* IE10 */
    -o-transition: 0.3s linear all; /* Opera */
    transition: 0.3s linear all; /* Future Browsers */
    height: 100%;
    z-index: 100000;
      border-right: 2px solid #428bca;
}

.PanelClosed {
    position: absolute;
    left: -225px;
    top: 90px;
    background: #FFFFFF;
    width: 250px;
    overflow: hidden;
    -webkit-transition: 0.3s linear all; /* Safari/Chrome */
    -moz-transition: 0.3s linear all; /* Firefox */
    -ms-transition: 0.3s linear all; /* IE10 */
    -o-transition: 0.3s linear all; /* Opera */
    transition: 0.3s linear all; /* Future Browsers */
    height: 100%;
    z-index: 100000;
    border-right: 2px solid #428bca;
}

#center-panel {
    text-align: left;
}

    #center-panel .row-fluid {
        overflow: auto;
    }

    #center-panel .large {
        padding: 10px;
        background-color: #ffffff;
    }

.form-checkbox-label {
    vertical-align: top;
    text-align: right;
}

.form-checkbox {
    vertical-align: top;
}

.form-group.required .control-label:before { 
   content:"* ";
   color:red;
}
