<hr />

<div class="panel panel-default">
    <div class="panel panel-heading">
        <label>Team Members</label>
    </div>
    <div loading-widget class="panel-body">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <td class="col-md-12">
                        <div class="col-md-4">
                            <label>Member name</label>
                        </div>
                        <div class="col-md-4">
                            <label>Role</label>
                        </div>
                        <div class="col-md-2">
                            <label>Active</label>
                        </div>
                        <div class="col-md-2">
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="addTeamMember()"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </td>
                </tr>
                <tr ng-show="newTeamMember.ShowNewMember">
                    <td class="col-md-12">
                        <div class="col-md-4" loading-widget>
                            <div dropdown dropdown-model="usersDropdown"></div>
                        </div>
                        <div class="col-md-4">
                            <div dropdown dropdown-model="rolesDropdown"></div>
                        </div>
                        <div class="col-md-2">Yes
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-click="AddNewTeamMember()" ng-disabled="!CanAddNewTeamMember">Save Team Member</button>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="teamMember in teamMembers" ng-controller="teamMemberController">
                    <td class="col-md-12">
                        <div class="col-md-4">{{teamMember.Name}}</div>
                        <div class="col-md-4">{{teamMember.Role}}</div>
                        <div class="col-md-2">
                             <input type="checkbox" ng-change="changeTeamMemberActiveStatus(teamMember)" ng-model="teamMember.IsActive" ng-checked="teamMember.IsActive" />
                        </div>
                        <div class="col-md-2">
                           

                            <a style="margin-left: 10px;" ng-click="deleteTeamMember(teamMember.TeamId,teamMember.Id)" class="pull-right btn btn-danger btn-xs" data-nodrag><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
